In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException,ElementNotSelectableException,ElementNotInteractableException
import html5lib
import requests
from bs4 import BeautifulSoup
import regex as re
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
import time
from selenium.webdriver.support.ui import Select

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia: Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ 
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [52]:
rank = []
video_name = []
artist = []
upload_date = []
view = []

In [53]:
def sol1(url):
    
    #loading web driver
    driver = webdriver.Chrome(r'C:\Users\Rahul\Downloads\chromedriver_win32\chromedriver.exe')
    driver.maximize_window()
    
    #getting url
    driver.get(url)
    
    #finding and clicking on the right link
    click1 = driver.find_element_by_xpath("//a[@class='external text']")
    click1.click()
    
    #checking and clicking on 1st link
    click2 = driver.find_element_by_xpath("//div[@class='mw-search-result-heading']/a")
    print(click2.get_attribute('href'))
    click2.click()
    
    #checking table where the details are present
    table1 = driver.find_element_by_xpath("//div[@class='mw-parser-output']/table[1]/tbody")
#     print(table1.text)
    
    #ranks
    rank_tag = driver.find_elements_by_xpath("//div[@class='mw-parser-output']/table[1]/tbody/tr/td[1]")
    for i in rank_tag:
        rank.append(i.text)
    time.sleep(1)
        
    #Video name
    video_name_tag = driver.find_elements_by_xpath("//div[@class='mw-parser-output']/table[1]/tbody/tr/td[2]")
    for i in video_name_tag:
        video_name.append(i.text)
    time.sleep(1)
    
    #Artist
    artist_tag = driver.find_elements_by_xpath("//div[@class='mw-parser-output']/table[1]/tbody/tr/td[3]")
    for i in artist_tag:
        artist.append(i.text)
    time.sleep(1)
    
    #upload_date
    upload_date_tag = driver.find_elements_by_xpath("//div[@class='mw-parser-output']/table[1]/tbody/tr/td[5]")
    for i in upload_date_tag:
        upload_date.append(i.text)
    time.sleep(1)
    
    #views
    views_tag = driver.find_elements_by_xpath("//div[@class='mw-parser-output']/table[1]/tbody/tr/td[4]")
    for i in views_tag:
        view.append(i.text)
    time.sleep(1)

In [54]:
sol1('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/')

https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [55]:
sol1_data = pd.DataFrame({
    'Rank':rank,
    'Name':video_name,
    'Artist':artist,
    'Upload date':upload_date,
    'Views (in billions)':view
})
    
sol1_data

,Rank,Name,Artist,Upload date,Views (in billions)
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.04
1,2.,"""Despacito""[30]",Luis Fonsi,"January 12, 2017",7.23
2,3.,"""Shape of You""[31]",Ed Sheeran,"January 30, 2017",5.20
3,4.,"""See You Again""[32]",Wiz Khalifa,"April 6, 2015",4.99
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,"October 8, 2016",4.87
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.41
6,7.,"""Uptown Funk""[37]",Mark Ronson,"November 19, 2014",4.10
7,8.,"""Gangnam Style""[38]",Psy,"July 15, 2012",3.99
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,"February 27, 2018",3.72
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.71
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,"March 6, 2014",3.59
11,12.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.41
12,13.,"""Sugar""[44]",Maroon 5,"January 14, 2015",3.40
13,14.,"""Roar""[45]",Katy Perry,"September 5, 2013",3.29
14,15.,"""Counting Stars""[46]",OneRepublic,"May 31, 2013",3.21
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,"October 7, 2014",3.20
16,17.,"""Dame Tu Cosita""[48]",El Chombo,"April 5, 2018",3.14
17,18.,"""Shake It Off""[49]",Taylor Swift,"August 18, 2014",3.02
18,19.,"""Faded""[50]",Alan Walker,"December 3, 2015",3.00
19,20.,"""Lean On""[51]",Major Lazer Official,"March 22, 2015",2.98
20,21.,"""Dark Horse""[52]",Katy Perry,"February 20, 2014",2.98
21,22.,"""Bailando""[53]",Enrique Iglesias,"April 11, 2014",2.98
22,23.,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",2.97
23,24.,"""Let Her Go""[55]",Passenger,"July 25, 2012",2.92
24,25.,"""Mi Gente""[56]",J Balvin,"June 29, 2017",2.87
25,26.,"""Hello""[57]",Adele,"October 22, 2015",2.79
26,27.,"""Perfect""[58]",Ed Sheeran,"November 9, 2017",2.76
27,28.,"""Waka Waka (This Time for Africa)""[59]",Shakira,"June 4, 2010",2.75
28,29.,"""Blank Space""[60]",Taylor Swift,"November 10, 2014",2.73
29,30.,"""Chantaje""[61]",Shakira,"November 18, 2016",2.63

In [56]:
sol1_data.to_csv('sol1_data.csv')

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time

In [274]:
day = []
date = []
month = []
time = []
match_type = []
match_no = []
stadium = []
teams = []

In [338]:
def sol2(url):
    
    #loading web driver
    driver = webdriver.Chrome(r'C:\Users\Rahul\Downloads\chromedriver_win32\chromedriver.exe')
    driver.maximize_window()
    
    #getting url
    driver.get(url)
    
    #checking and clicking on international tab
    int_tag = driver.find_element_by_xpath("//li[@class='navigation__item  ']")
    int_tag.click()
    li_tag = driver.find_elements_by_xpath("//li[@class='drop-down__option  ']")
#     for i in li_tag:
#         if i.text:
#             print(i.text)
#         else:
#             print('-')
    
    #clicking on fixture button
    li_tag[0].click()
    

#     #day_tag
#     try:
#         WebDriverWait(driver,2).until(EC.presence_of_all_elements_located((By.XPATH,"//div[@class='fixture__datetime desktop-only']/span")))
#         day_tag = driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/span")
#         for i in day_tag:
#             day.append(i.text)
#     except StaleElementReferenceException:
#         driver.refresh()
#         WebDriverWait(driver,2).until(EC.presence_of_all_elements_located((By.XPATH,"//div[@class='fixture__datetime desktop-only']/span")))
#         day_tag = driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/span")
#         for i in day_tag:
#             day.append(i.text)

            
#     #date_tag
#     try:
#         WebDriverWait(driver,2).until(EC.presence_of_all_elements_located((By.XPATH,"//div[@class='fixture__datetime desktop-only']/div[1]/span")))
#         date_tag = driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div[1]/span")
#         for i in date_tag:
#             date.append(i.text)
#     except StaleElementReferenceException:
#         driver.refresh()
#         WebDriverWait(driver,2).until(EC.presence_of_all_elements_located((By.XPATH,"//div[@class='fixture__datetime desktop-only']/div[1]/span")))
#         date_tag = driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div[1]/span")
#         for i in date_tag:
#             date.append(i.text)

        
#     #month_tag
#     try:
#         WebDriverWait(driver,2).until(EC.presence_of_all_elements_located((By.XPATH,"//div[@class='fixture__datetime desktop-only']/div[1]/div[1]/span[1]")))
#         month_tag = driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div[1]/div[1]/span[1]")
#         for i in month_tag:
#             month.append(i.text)
#     except StaleElementReferenceException:
#         driver.refresh()
#         WebDriverWait(driver,4).until(EC.presence_of_all_elements_located((By.XPATH,"//div[@class='fixture__datetime desktop-only']/div[1]/div[1]/span[1]")))
#         month_tag = driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div[1]/div[1]/span[1]")
#         for i in date_tag:
#             month.append(i.text)
        
#     #time_tag
#     try:
#         WebDriverWait(driver,2).until(EC.presence_of_all_elements_located((By.XPATH,"//div[@class='fixture__datetime desktop-only']/div[1]/div[1]/span[2]")))
#         time_tag = driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div[1]/div[1]/span[2]")
#         for i in time_tag:
#             time.append(i.text)
#     except StaleElementReferenceException:
#         driver.refresh()
#         WebDriverWait(driver,2).until(EC.presence_of_all_elements_located((By.XPATH,"//div[@class='fixture__datetime desktop-only']/div[1]/div[1]/span[2]")))
#         time_tag = driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div[1]/div[1]/span[2]")
#         for i in date_tag:
#             time.append(i.text)
            
            
#     #match_type_tag
#     match_type_tag = driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[1]")
#     for i in match_type_tag:
#         match_type.append(i.text)

#     #match_number_tag
#     match_no_tag = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")
#     for i in match_no_tag:
#         match_no.append(i.text)

#     #stadium
#     stadium_tag = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
#     for i in stadium_tag:
#         stadium.append(i.text)

#     #team_vs_tag
#     WebDriverWait(driver,2).until(EC.presence_of_all_elements_located((By.XPATH,"//div[@class='fixture__format-strip']/span[2]")))
#     team_vs_tag = driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]")
#     for i in team_vs_tag:
#         teams.append(i.text)

In [339]:
sol2('https://www.bcci.tv/')

In [345]:
print(len(date),len(day),len(month),len(match_no),len(match_type),len(teams),len(stadium),len(time))

14 14 14 14 14 14 14 14

In [344]:
sol2_data = pd.DataFrame({
    'day': day,
    'date' : date,
    'month':month,
    'time' : time,
    'match_type' : match_type,
    'match_no' : match_no,
    'stadium' : stadium,
    'teams' : teams
})

In [346]:
sol2_data

,day,date,month,time,match_type,match_no,stadium,teams
0,Thursday,04,MARCH,09:30 IST,TEST,4th Test,"Narendra Modi Stadium, Ahmedabad",INDIA V ENGLAND 2021
1,Friday,12,MARCH,19:00 IST,T20I,1st T20I,"Narendra Modi Stadium, Ahmedabad",INDIA V ENGLAND 2021
2,Sunday,14,MARCH,19:00 IST,T20I,2nd T20I,"Narendra Modi Stadium, Ahmedabad",INDIA V ENGLAND 2021
3,Tuesday,16,MARCH,19:00 IST,T20I,3rd T20I,"Narendra Modi Stadium, Ahmedabad",INDIA V ENGLAND 2021
4,Thursday,18,MARCH,19:00 IST,T20I,4th T20I,"Narendra Modi Stadium, Ahmedabad",INDIA V ENGLAND 2021
5,Saturday,20,MARCH,19:00 IST,T20I,5th T20I,"Narendra Modi Stadium, Ahmedabad",INDIA V ENGLAND 2021
6,Tuesday,23,MARCH,13:30 IST,ODI,1st ODI,"Maharashtra Cricket Association Stadium, Pune",INDIA V ENGLAND 2021
7,Friday,26,MARCH,13:30 IST,ODI,2nd ODI,"Maharashtra Cricket Association Stadium, Pune",INDIA V ENGLAND 2021
8,Sunday,28,MARCH,13:30 IST,ODI,3rd ODI,"Maharashtra Cricket Association Stadium, Pune",INDIA V ENGLAND 2021
9,Wednesday,04,AUGUST,15:30 IST,TEST,1st Test,"Trent Bridge, Nottingham",ENGLAND V INDIA 2021
10,Thursday,12,AUGUST,15:30 IST,TEST,2nd Test,"Lord's, London",ENGLAND V INDIA 2021
11,Wednesday,25,AUGUST,15:30 IST,TEST,3rd Test,"Headingley, Leeds",ENGLAND V INDIA 2021
12,Thursday,02,SEPTEMBER,15:30 IST,TEST,4th Test,"The Oval, London",ENGLAND V INDIA 2021
13,Friday,10,SEPTEMBER,15:30 IST,TEST,5th Test,"Old Trafford, Manchester",ENGLAND V INDIA 2021

In [347]:
sol2_data.to_csv('sol2_data.csv')

In [348]:
#another solution for que 2
day = []
date = []
title = []
location = []
time = []
series = []
month = []

In [349]:
def sol2(url):
    
    #loading web driver
    driver = webdriver.Chrome(r'C:\Users\Rahul\Downloads\chromedriver_win32\chromedriver.exe')
    driver.maximize_window()
    
    #getting url
    driver.get(url)
    
    #checking and clicking on international tab
    int_tag = driver.find_element_by_xpath("//li[@class='navigation__item  ']")
    int_tag.click()
    li_tag = driver.find_elements_by_xpath("//li[@class='drop-down__option  ']")
#     for i in li_tag:
#         if i.text:
#             print(i.text)
#         else:
#             print('-')
    
    #clicking on fixture button
    li_tag[0].click()
    
    
    soup = BeautifulSoup(driver.page_source,'html.parser')
#     print(soup.prettify)
    #day_tag
    day_tag = soup.find_all('span',attrs={'class':'fixture__day'})
    for i in day_tag:
        day.append(i.get_text())
    
    #date_tag
    day_tag = soup.find_all('span',attrs={'class':'fixture__date'})
    for i in day_tag:
        date.append(i.get_text()) 
    
    #match_title_tag
    title_tag = soup.find_all('strong',attrs={'class':'fixture__name fixture__name--with-margin'})
    for i in title_tag:
        title.append(i.get_text())
    
    #stadium_tag
    stad_tag = soup.find_all('p',attrs={'class':'fixture__additional-info'})    
    for i in stad_tag:
        location.append(i.get_text().split(', ')[1].replace('\n',''))
    
    #time_tag
    time_tag = soup.find_all('span',attrs={'class':'fixture__time'})
    for i in time_tag:
        time.append(i.get_text())
        
    #series_tag
    series_tag = soup.find_all('span', attrs={'class':'u-unskewed-text fixture__tournament-label u-truncated'})
    for i in series_tag:
        series.append(i.get_text())
        
    #month_tag
    month_tag = soup.find_all('span',attrs={'class':'fixture__month'})
    for i in month_tag:
        month.append(i.get_text())

In [350]:
sol2('https://www.bcci.tv/')

In [351]:
sol2_data2 = pd.DataFrame({
    'day':day,
    'date':date,
    'month':month,
    'title':title,
    'location':location,
    'time':time,
    'series':series
})

In [352]:
sol2_data2

,day,date,month,title,location,time,series
0,Thursday,04,March,4th Test,Ahmedabad,09:30 IST,India v England 2021
1,Friday,12,March,1st T20I,Ahmedabad,19:00 IST,India v England 2021
2,Sunday,14,March,2nd T20I,Ahmedabad,19:00 IST,India v England 2021
3,Tuesday,16,March,3rd T20I,Ahmedabad,19:00 IST,India v England 2021
4,Thursday,18,March,4th T20I,Ahmedabad,19:00 IST,India v England 2021
5,Saturday,20,March,5th T20I,Ahmedabad,19:00 IST,India v England 2021
6,Tuesday,23,March,1st ODI,Pune,13:30 IST,India v England 2021
7,Friday,26,March,2nd ODI,Pune,13:30 IST,India v England 2021
8,Sunday,28,March,3rd ODI,Pune,13:30 IST,India v England 2021
9,Wednesday,04,August,1st Test,Nottingham,15:30 IST,England v India 2021
10,Thursday,12,August,2nd Test,London,15:30 IST,England v India 2021
11,Wednesday,25,August,3rd Test,Leeds,15:30 IST,England v India 2021
12,Thursday,02,September,4th Test,London,15:30 IST,England v India 2021
13,Friday,10,September,5th Test,Manchester,15:30 IST,England v India 2021

In [353]:
sol2_data2.to_csv('sol2_data2.csv')

# 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [396]:
exception_name = []
description = []

In [397]:
def sol3(url):
    driver = webdriver.Chrome(r"C:\Users\Rahul\Downloads\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    driver.maximize_window()
    
    #looking and clicking for selenium tag
    sel_tag1 = driver.find_element_by_xpath("//div[@class='row featured-boxes']/div[1]/div[1]/ul/li[3]")
    sel_tag1.click()
    
    #searching for selenium exception and selecting it
    sel_tag2 = driver.find_element_by_xpath("//table[@class='table'][5]/tbody/tr[34]/td/a")
    sel_tag2.click()
    
    #table_tag
    table_tag1 = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in table_tag1:
        exception_name.append(i.text)
        
    table_tag2 = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in table_tag2:
        description.append(i.text)

In [398]:
sol3('https://www.guru99.com/')

In [401]:
sol3_data = pd.DataFrame({
    'name':exception_name,
    'description':description
})

sol3_data.drop(0,axis=0)

,name,description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [402]:
sol3_data.to_csv('sol33_data.csv')

# 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [28]:
rank = []
state = []
GSDP19_20= []
GSDP18_19 = []
share = []
GDP_in_dollars = []

In [29]:
def sol4(url):
    driver = webdriver.Chrome(r'C:\Users\Rahul\Downloads\chromedriver_win32\chromedriver.exe')
    driver.maximize_window()
    driver.get(url)
    
    #selecting economy from nac bar 2nd button
    nav_tag = driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button")
    nav_tag.click()
    
    nav_tags = driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")
    nav_tags.click()
    
    #clicking on GDp of Indian states
    sel_tag1 = driver.find_element_by_xpath("//div[@style='float:left;width:1150px;height:800px;background-color: white ']/div[2]/ul/li[1]")
    sel_tag1.click()
    
    time.sleep(2)
    #rank
    rank_tag = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in rank_tag:
        rank.append(i.text)

    #state
    state_tag = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in state_tag:
        state.append(i.text)
        
    #GDP19_20
    gdp1_tag = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in gdp1_tag:
        GSDP19_20.append(i.text)
        
    #GDP18_19
    gdp2_tag = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in gdp2_tag:
        GSDP18_19.append(i.text)
        
    #share
    share_tag = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in share_tag:
        share.append(i.text)
        
    #GDP in dollars
    gdp3_tag = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in gdp3_tag:
        GDP_in_dollars.append(i.text)

In [30]:
sol4('http://statisticstimes.com/')

In [31]:
print(len(rank),len(state),len(GSDP18_19),len(GSDP19_20),len(share),len(GDP_in_dollars))

33 33 33 33 33 33

In [32]:
sol4_data = pd.DataFrame({
    'rank':rank,
    'state':state,
    'GDP 19-20': GSDP19_20,
    'GDB 18-19':GSDP18_19,
    'Share':share,
    'GDP in Dollars':GDP_in_dollars
})

sol4_data

,rank,state,GDP 19-20,GDB 18-19,Share,GDP in Dollars
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"521,275","487,805",2.57%,73.768
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,"80,449","73,170",0.39%,11.065
23,24,Tripura,"55,984","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"38,253","34,433",0.18%,5.207
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,"31,790","27,870",0.15%,4.215
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,"26,503","22,287",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

In [33]:
sol4_data.to_csv('sol4_data.csv')

# 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [2]:
urls = []
rep = []
about = []
count = []
language = []

In [3]:
def sol5(url):
    driver = webdriver.Chrome(r'C:\Users\Rahul\Downloads\chromedriver_win32\chromedriver.exe')
    driver.maximize_window()
    driver.get(url)
    
    #clicking explore tab
    expl_tag = driver.find_element_by_xpath("//div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
    expl_tag.click()
    expl_tag.click()
    
    time.sleep(2)
    #trnd
    trend_tag = driver.find_element_by_xpath("//div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
    trend_tag.click()
    

    #language used:
    lang_tag = driver.find_elements_by_xpath("//article[@class='Box-row']/div[2]")
    for i in lang_tag:
        try:
            language.append((i.find_element_by_xpath(".//span[@class='d-inline-block ml-0 mr-3']")).text)
        except NoSuchElementException:
            language.append('-')

    #repository
    rep_tag = driver.find_elements_by_xpath("//article[@class='Box-row']/h1")
    for i in rep_tag:
        rep.append(i.text.replace('\n',''))

    #description
    desc_tag = driver.find_elements_by_xpath("//article[@class='Box-row']")
    for i in desc_tag:
        try:
            about.append((i.find_element_by_xpath(".//p[@class='col-9 color-text-secondary my-1 pr-4']")).text)
        except NoSuchElementException:
            about.append('-')
            
    #contributers
    count_tag = driver.find_elements_by_xpath("//article[@class='Box-row']")
    for i in count_tag:
        try:
            count.append((i.find_element_by_xpath(".//div[@class='f6 color-text-secondary mt-2']/a[2]")).text)
        except NoSuchElementException:
            count.append('-')
        
#     for i in urls[0:3]:
#         driver.get(i)

In [5]:
sol5('https://github.com/')

In [6]:
print(len(about),len(rep),len(language),len(count))

25 25 25 25

In [9]:
sol5_data = pd.DataFrame({
    'rep':rep,
    'description':about,
    'language used':language,
    'count':count
})

sol5_data

,rep,description,language used,count
0,muguruzawang / jd_maotai_seckill,优化版本的京东茅台抢购神器,Python,"4,262"
1,tostercx / GTAO_Booster_PoC,-,C,112
2,laravel-filament / filament,The elegant TALL stack admin for Laravel artis...,PHP,42
3,PaddlePaddle / PaddleGAN,"PaddlePaddle GAN library, including lots of in...",Python,290
4,pystardust / ytfzf,A posix script to find and watch youtube video...,Shell,53
5,aws / aws-sdk-go,AWS SDK for the Go programming language.,Go,"1,642"
6,google / googletest,Googletest - Google Testing and Mocking Framework,C++,"7,261"
7,demisto / content,Demisto is now Cortex XSOAR. Automate and orch...,Python,605
8,microsoft / Power-Fx,Power Fx low-code programming language,-,38
9,bytemaster / clarion,-,C++,18
10,microsoft / Web-Dev-For-Beginners,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",JavaScript,"2,863"
11,adobe / brackets,"An open source code editor for the web, writte...",JavaScript,"6,920"
12,kilimchoi / engineering-blogs,A curated list of engineering blogs,Ruby,277
13,influxdata / influxdb,"Scalable datastore for metrics, events, and re...",Go,"2,899"
14,hyunwoongko / openchat,Opensource chatting framework for generative m...,Python,12
15,yangshun / front-end-interview-handbook,"🕸 No-bullshit answers to the famous h5bp ""Fron...",JavaScript,"4,034"
16,austintgriffith / scaffold-eth,🏗 forkable Ethereum dev stack focused on fast ...,JavaScript,318
17,firebase / firebase-ios-sdk,Firebase iOS SDK,Objective-C,752
18,POSTECH-CVLab / PyTorch-StudioGAN,StudioGAN is a Pytorch library providing imple...,Python,102
19,SigmaHQ / sigma,Generic Signature Format for SIEM Systems,Python,932
20,extreme-assistant / CVPR2021-Paper-Code-Interp...,cvpr2021/cvpr2020/cvpr2019/cvpr2018/cvpr2017 论...,-,"1,416"
21,jepsen-io / maelstrom,A workbench for writing toy implementations of...,Clojure,17
22,vercel / next.js,The React Framework,JavaScript,"11,366"
23,nomi-sec / PoC-in-GitHub,📡 PoC auto collect from GitHub. ⚠️ Be careful ...,-,429
24,prometheus / client_golang,Prometheus instrumentation library for Go appl...,Go,730

In [10]:
sol5_data.to_csv('sol5_data.csv')

# 6. Scrape the details of top 100 songs on billiboard.com. Url = https://www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [28]:
song_name = []
artist_name = []
last_week_rank = []
peak_rank = []
weeks_on_board_note = []

In [29]:
def sol6(url):
    driver = webdriver.Chrome(r'C:\Users\Rahul\Downloads\chromedriver_win32\chromedriver.exe')
    driver.get(url)
    driver.maximize_window()
    
    #navigating and selecting hot 100
    hot_tag = driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul/li[3]")
    hot_tag.click()
    
    #song_name
    song_tag = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]")
    for i in song_tag:
        song_name.append(i.text)
        
    time.sleep(2)
    
    #artist_name
    artist_tag = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]")
    for i in artist_tag:
        artist_name.append(i.text)
        
    time.sleep(2)
    
    #last_week_rank
    last_week_tag = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in last_week_tag:
        last_week_rank.append(i.text)
     
    time.sleep(2)
    
    #Peak_rank
    peak_tag = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in peak_tag:
        peak_rank.append(i.text)
        
    time.sleep(2)
    
    #weeks_on_tag
    weeks_tag = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for i in weeks_tag:
        weeks_on_board_note.append(i.text)

In [30]:
sol6('https://www.billboard.com/')

In [31]:
print(len(song_name),len(artist_name),len(last_week_rank),len(peak_rank),len(weeks_on_board_note))

100 100 100 100 100

In [32]:
sol6_data = pd.DataFrame({
    'song':song_name,
    'artist':artist_name,
    'last_week_rank':last_week_rank,
    'peak_rank':peak_rank,
    'weeks_on_board':weeks_on_board_note
})

sol6_data

,song,artist,last_week_rank,peak_rank,weeks_on_board
0,Drivers License,Olivia Rodrigo,1,1,6
1,34+35,Ariana Grande,6,2,16
2,Calling My Phone,Lil Tjay Featuring 6LACK,-,3,1
3,Blinding Lights,The Weeknd,3,1,63
4,Up,Cardi B,2,2,2
...,...,...,...,...,...
95,Almost Maybes,Jordan Davis,96,95,4
96,Back To The Streets,Saweetie Featuring Jhene Aiko,75,58,13
97,Bad Boy,Juice WRLD & Young Thug,83,22,5
98,Opp Stoppa,YBN Nahmir Featuring 21 Savage,-,97,2
99,How They Remember You,Rascal Flatts,-,100,1

In [33]:
sol6_data.to_csv('sol6_data.csv')

# 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [22]:
name = []
designation = []
company = []
skills = []
location = []

In [23]:
def sol7(url):
    driver = webdriver.Chrome(r'C:\Users\Rahul\Downloads\chromedriver_win32\chromedriver.exe')
    driver.maximize_window()
    driver.get(url)
    
    #getting link of recruiters
    recruiters_tag = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
    driver.get(recruiters_tag.get_attribute('href'))
    
    #search and click for data scientist
    driver.find_element_by_xpath("//input[@class='sugInp']").send_keys('Data science')
    driver.find_element_by_xpath("//button[@id='qsbFormBtn']").click()
    
    for i in range(0,2):
        
        #name_tag
        name_tag = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
        for i in name_tag:
            name.append(i.text)
        
        #designation
        desig_tag = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
        for i in desig_tag:
            designation.append(i.text)
            
        #company
        comapny_tag = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
        for i in comapny_tag:
            company.append(i.text)
            
        #skills
        skill_tag = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
        for i in skill_tag:
            skills.append(i.text)
            
        #location_tag
        highlight_table_tag = driver.find_elements_by_xpath("//p[@class='highlightable']")
#     print(len(highlight_table_tag))
        for i in highlight_table_tag:
            try:
                location.append((i.find_element_by_xpath(".//small[@class='ellipsis']")).text)
            except NoSuchElementException:
                location.append('-')


        next_but_tag = driver.find_elements_by_xpath("//div[@class='pagination']/button")
        for i in next_but_tag:
            if i.text == "Next":
                i.click()

In [24]:
sol7('https://www.naukri.com/mnjuser/homepage')

In [25]:
sol7_data=pd.DataFrame({
    'name':name[0:145],
    'company':company[0:145],
    'designation':designation[0:145],
    'skills':skills[0:145],
    'location':location
})

sol7_data

,name,company,designation,skills,location
0,Aakash Harit,Data Science Network,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Shore Infotech India Pvt. Ltd,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,XenonStack,Recruitment Professional,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Enerlytics Software Solutions Pvt Ltd,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",Pune
...,...,...,...,...,...
95,Sai Theja,Sumyag Data Sciences Private Limited,Operations Lead,"Data Science, Engineering, Data Analysis, Big ...",Bengaluru / Bangalore
96,Roshan Menugu,Cyient Limited,Company Recruiter,Not Specified,Hyderabad / Secunderabad
97,Sagar Software Solutions Pvt. Ltd.,Sagar Software Solutions Pvt. Ltd.,HR Executive,"Html, Css, Javascript, Jquery, Php, Python, Da...",Vijayawada
98,Animesh Choudhuri,Swiftonne Logistics Solutions Pvt. Ltd.,Head Recruitment,"Data Analytics, Data Science, Python, Advanced...",Gurgaon
99,Chetan Agarwal,DataGarner,Co Founder,"Big Data, Spark, Java, Hadoop, Neo4j, Machine ...",Kolkata

In [26]:
sol7_data.to_csv('sol7_data.csv')

In [27]:
print(len(name),len(designation),len(skills),len(location))

100 100 100 100

# 8. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [73]:
book_name = []
book_author = []
volume_sold = []
publisher = []
genre = []

In [74]:
def sol8(url):
    driver = webdriver.Chrome(r'C:\Users\Rahul\Downloads\chromedriver_win32\chromedriver.exe')
    driver.maximize_window()
    driver.get(url)
    
    #title
    title_tag = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in title_tag:
        book_name.append(i.text)
        
    #author
    auth_tag = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in auth_tag:
        book_author.append(i.text)
        
    #sold
    sold_tag = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in sold_tag:
        volume_sold.append(i.text)
        
    #publisher
    publish_tag = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in publish_tag:
        publisher.append(i.text)
        
    #genre
    genre_tag = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in genre_tag:
        genre.append(i.text)

In [75]:
sol8('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [76]:
sol8_data = pd.DataFrame({
    'bookname':book_name,
    'Author': book_author,
    'sold_volume': volume_sold,
    'publisher': publisher,
    'genre': genre
})

In [77]:
sol8_data

,bookname,Author,sold_volume,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [78]:
sol8_data.to_csv('sol8_data.csv')

# 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [81]:
show_name = []
year_span = []
show_genre = []
runtime = []
ratings = []
votes = []

In [88]:
def sol9(url):
    driver = webdriver.Chrome(r'C:\Users\Rahul\Downloads\chromedriver_win32\chromedriver.exe')
    driver.maximize_window()
    driver.get(url)
    
    #show name
    name_tag = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in name_tag:
        show_name.append(i.text)
        
    #year_span
    year_span_tag = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in year_span_tag:
        year_span.append(i.text)

    #show_genre
    genre_tag = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
    for i in genre_tag:
        show_genre.append(i.text)

    #runtime
    runtime_tag = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
    for i in runtime_tag:
        runtime.append(i.text)
        
    #ratings
    ratings_tag = driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]")
    for i in ratings_tag:
        ratings.append(i.text)
        
    #votes
    votes_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")
    for i in votes_tag:
        votes.append(i.text)

In [89]:
sol9('https://www.imdb.com/list/ls095964455/')

In [90]:
print(len(show_name),len(year_span),len(genre),len(runtime),len(ratings),len(votes))

100 100 100 100 100 100

In [91]:
sol9_data = pd.DataFrame({
    'name': show_name,
    'genre': show_genre,
    'year span': year_span,
    'runtime': runtime,
    'rating': ratings,
    'votes': votes
})

sol9_data

,name,genre,year span,runtime,rating,votes
0,Game of Thrones,"Action, Adventure, Drama",(2011–2019),57 min,9.3,"1,777,077"
1,Stranger Things,"Drama, Fantasy, Horror",(2016– ),51 min,8.7,"827,851"
2,The Walking Dead,"Drama, Horror, Thriller",(2010– ),44 min,8.2,"856,254"
3,13 Reasons Why,"Drama, Mystery, Thriller",(2017–2020),60 min,7.6,"257,056"
4,The 100,"Drama, Mystery, Sci-Fi",(2014–2020),43 min,7.6,"217,532"
...,...,...,...,...,...,...
95,Reign,"Drama, Fantasy",(2013–2017),42 min,7.5,"43,737"
96,A Series of Unfortunate Events,"Adventure, Comedy, Drama",(2017–2019),50 min,7.8,"54,057"
97,Criminal Minds,"Crime, Drama, Mystery",(2005–2020),42 min,8.1,"162,074"
98,Scream: The TV Series,"Crime, Drama, Horror",(2015–2019),45 min,7.2,"34,189"
99,The Haunting of Hill House,"Drama, Horror, Mystery",(2018),572 min,8.6,"183,627"

In [92]:
sol9_data.to_csv('sol9_data.csv')

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [143]:
dataset_name = []
data_type = []
task = []
attribute_type = []
no_of_instances = []
no_of_attributes = []
year_note = []

In [144]:
def sol10(url):
    driver = webdriver.Chrome(r'C:\Users\Rahul\Downloads\chromedriver_win32\chromedriver.exe')
    driver.maximize_window()
    driver.get(url)
    
    time.sleep(2)
    #clicking show all data
    driver.find_element_by_xpath("//span[@class='normal']/b/a").click()
    time.sleep(2)
    
    #dataset_name
    dataset_tag = driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in dataset_tag:
        dataset_name.append(i.text)
    time.sleep(2)
    
    #data_type
    data_type_tag = driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
    for i in data_type_tag[1:]:
        data_type.append(i.text)
    time.sleep(2)
     
    #task
    task_tag = driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
    for i in task_tag[1:]:
        task.append(i.text)
    time.sleep(2)

    #attribute
    attr_tag = driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
    for i in attr_tag[1:]:
        attribute_type.append(i.text)
    time.sleep(2)
    
    #no_instances
    instances_tag = driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
    for i in instances_tag[1:]:
        no_of_instances.append(i.text)
    time.sleep(2)
    
    #attributes
    attr_no_tag = driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
    for i in attr_no_tag[1:]:
        no_of_attributes.append(i.text)
    time.sleep(2)
    
    #year_note
    year_tag = driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
    for i in year_tag[1:]:
        year_note.append(i.text)

In [145]:
sol10('https://archive.ics.uci.edu/ml/index.php')

In [146]:
sol10_data = pd.DataFrame({
    'dataset':dataset_name,
    'data_type':data_type,
    'task':task,
    'attribute_type':attribute_type,
    'instances':no_of_instances,
    'no of attribute':no_of_attributes,
    'year_note':year_note
})

sol10_data

,dataset,data_type,task,attribute_type,instances,no of attribute,year_note
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020

In [147]:
print(len(data_type),len(dataset_name),len(task),len(no_of_attributes),len(no_of_instances),len(attribute_type),len(year_note))

585 585 585 585 585 585 585

In [148]:
sol10_data.to_csv('sol10_data.csv')